.form_registration{
    display: flex;
   align-items: center;
    justify-items: center;
    flex-direction: column;
    font-size: 30px;
    margin-top: 200px;
}
.form_registration input {
    margin: 1px ;
}
.btn_form:hover {
    background-color: rebeccapurple;
    font-size: 30px;
}
.btn_form{
    transition: 1s;
    border-radius: 10px;
}